{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Rosebank Library</h1>
            <p class="lead">8 Keyes Avenue <br />Rosebank</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../static/images/profilePicture/region_b_profiles/rosebankLibrary/img1.jpg" />

                    

                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">09:00-17:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">09:00-17:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Rosebank</h3>
                    <p>
                        The Rosebank Library extends their services beyond the physical walls of the building by providing study material and electronic means including connecting from home via overdrive.
                        The library provides a study area  which is quite and peaceful for users to utilize. The library host various programmes including Business Workshops and Youth workshops that
                        are aimed at empowering community members  by proving information and training on how to start a business, how to write CV's, applicatiocaton letters  and how to use the internet to find jobs.
                        There is a book club where members share exciting information about books and becoming a member is free.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">8 Keyes Avenue, Rosebank</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquiries@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">(011) 442 8988</span></li>
                            <li><span class="pro-title">Head</span><span class="pro-detail">Fanie Chauke</span></li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_b_profiles/rosebankLibrary/img2.jpg" alt="" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_b_profiles/rosebankLibrary/img3.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_b_profiles/rosebankLibrary/img4.jpg" alt="" />

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Rosebank location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.5304869471843!2d28.035191714528885!3d-26.146847467992888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c8df1ba5b6b%3A0x4ead5bd7a3611aa8!2sRosebank%20Library!5e0!3m2!1sen!2sza!4v1620043848445!5m2!1sen!2sza"></object>
                
            
                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
