{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Drieziek Library</h1>
            <p class="lead"> 1805<br /> Drieziek</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../static/images/JCL2.jpg" />
                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">9:00 - 17:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">9:00 - 17:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Diepsloot Library</h3>
                    <p>
                        The library staffing consists of Librarian, Library Assistant and a General Worker. Drieziek Library offer
                        lending services, home work assistance, career guidance information, and we also host programmes. We host career
                        expo, Story Skirmish, Battle of the Book and Science Scuffle.
                        The library has a good collection of non-fictional and fictional books. Children and toddlers are catered for with a variety of books
                        for beginners as we prioritise early childhood development. Our library hosts Story Time on Wednesday afternoons at 15:00.
                        During public holidays, we host special holiday programmes in order to engage with the community.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail"> Johannesburg Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">Drieziek 1805</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquiries@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">(011) 226 0953</span></li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>
   

    
    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/IMG_20180723_170839.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/IMG_20180723_170839.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/IMG_20180723_170839.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Diepsloot Library location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14287.863252979887!2d27.84013266977539!3d-26.456830899999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95ab9db8733c5b%3A0xd661d9b1316b3d7!2sDrieziek%20Library!5e0!3m2!1sen!2sza!4v1621509379906!5m2!1sen!2sza"></object>

           

                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
