{% extends "galleryLayout.html" %}

{% block content %}



<section>
    <div class="jumbotron text-center">
        <h1 class=" wow flipInX" data-wow-delay="0.4s">Gallery</h1>
        <p class="lead">Learn Online, Learn Electronically, Learn New Skills, Improve Your KNowledge, Learn At Your Own Pace.</p>
    </div>
    <div class="galleryIndividual">
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img1.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img1-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img2.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img2-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img3.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img3-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img4.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img4-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img5.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img5-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img6.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img6-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img7.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img7-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img8.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img8-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img9.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img9-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img10.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img10-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img11.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img11-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img12.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img12-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img13.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img13-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img14.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img14-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img15.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img15-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img16.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img16-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img17.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/codingRoadshowJabavuAndEmndeniByWETHINKcode/img17-big.jpg"></a>
    </div>

</section>





{% endblock %}
