{% extends "galleryLayout.html" %}

{% block content %}



<section>
    
    <div class="jumbotron text-center">
        <h1 class=" wow flipInX" data-wow-delay="0.4s">Gallery</h1>
        <p class="lead">Learn Online, Learn Electronically, Learn New Skills, Improve Your KNowledge, Learn At Your Own Pace.</p>
    </div>


    <div class="galleryIndividual">
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img1.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img1-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img2.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img2-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img3.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img3-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img4.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img4-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img5.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img5-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img6.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img6-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img7.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img7-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img8.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img8-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img9.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img9-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/cosmoCity/img10.jpg" data-lightbox="mygallery"><img src="../../static/images/gallery/codingEvents/cosmoCity/img10-big.jpg"></a>
    </div>

</section>





{% endblock %}
