{% extends "galleryLayout.html" %}

{% block content %}



<section>
    <div class="jumbotron text-center">
        <h1 class=" wow flipInX" data-wow-delay="0.4s">Gallery</h1>
        <p class="lead">Learn Online, Learn Electronically, Learn New Skills, Improve Your KNowledge, Learn At Your Own Pace.</p>
    </div>

    <div class="galleryIndividual">
        <a href="../../static/images/gallery/codingEvents/main/img1.jpg"><img src="../../static/images/gallery/codingEvents/main/img1-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img2.jpg"><img src="../../static/images/gallery/codingEvents/main/img2-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img3.jpg"><img src="../../static/images/gallery/codingEvents/main/img3-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img4.jpg"><img src="../../static/images/gallery/codingEvents/main/img4-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img5.jpg"><img src="../../static/images/gallery/codingEvents/main/img5-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img6.jpg"><img src="../../static/images/gallery/codingEvents/main/img6-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img7.jpg"><img src="../../static/images/gallery/codingEvents/main/img7-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img8.jpg"><img src="../../static/images/gallery/codingEvents/main/img8-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img9.jpg"><img src="../../static/images/gallery/codingEvents/main/img9-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img10.jpg"><img src="../../static/images/gallery/codingEvents/main/img10-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img11.jpg"><img src="../../static/images/gallery/codingEvents/main/img11-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img12.jpg"><img src="../../static/images/gallery/codingEvents/main/img12-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img13.jpg"><img src="../../static/images/gallery/codingEvents/main/img13-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img14.jpg"><img src="../../static/images/gallery/codingEvents/main/img14-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img15.jpg"><img src="../../static/images/gallery/codingEvents/main/img15-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img16.jpg"><img src="../../static/images/gallery/codingEvents/main/img16-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img17.jpg"><img src="../../static/images/gallery/codingEvents/main/img16-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img18.jpg"><img src="../../static/images/gallery/codingEvents/main/img18-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img19.jpg"><img src="../../static/images/gallery/codingEvents/main/img19-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img20.jpg"><img src="../../static/images/gallery/codingEvents/main/img20-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img21.jpg"><img src="../../static/images/gallery/codingEvents/main/img21-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img22.jpg"><img src="../../static/images/gallery/codingEvents/main/img22-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img23.jpg"><img src="../../static/images/gallery/codingEvents/main/img23-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img24.jpg"><img src="../../static/images/gallery/codingEvents/main/img24-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img25.jpg"><img src="../../static/images/gallery/codingEvents/main/img25-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img26.jpg"><img src="../../static/images/gallery/codingEvents/main/img26-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img27.jpg"><img src="../../static/images/gallery/codingEvents/main/img27-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img28.jpg"><img src="../../static/images/gallery/codingEvents/main/img28-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img29.jpg"><img src="../../static/images/gallery/codingEvents/main/img29-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img30.jpg"><img src="../../static/images/gallery/codingEvents/main/img30-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img31.jpg"><img src="../../static/images/gallery/codingEvents/main/img31-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img32.jpg"><img src="../../static/images/gallery/codingEvents/main/img32-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img33.jpg"><img src="../../static/images/gallery/codingEvents/main/img33-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img34.jpg"><img src="../../static/images/gallery/codingEvents/main/img34-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img35.jpg"><img src="../../static/images/gallery/codingEvents/main/img35-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img36.jpg"><img src="../../static/images/gallery/codingEvents/main/img36-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img37.jpg"><img src="../../static/images/gallery/codingEvents/main/img37-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img38.jpg"><img src="../../static/images/gallery/codingEvents/main/img38-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img39.jpg"><img src="../../static/images/gallery/codingEvents/main/img39-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img40.jpg"><img src="../../static/images/gallery/codingEvents/main/img40-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img41.jpg"><img src="../../static/images/gallery/codingEvents/main/img41-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img42.jpg"><img src="../../static/images/gallery/codingEvents/main/img42-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img43.jpg"><img src="../../static/images/gallery/codingEvents/main/img43-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img44.jpg"><img src="../../static/images/gallery/codingEvents/main/img44-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img45.jpg"><img src="../../static/images/gallery/codingEvents/main/img45-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img46.jpg"><img src="../../static/images/gallery/codingEvents/main/img46-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img47.jpg"><img src="../../static/images/gallery/codingEvents/main/img47-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img48.jpg"><img src="../../static/images/gallery/codingEvents/main/img48-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img49.jpg"><img src="../../static/images/gallery/codingEvents/main/img49-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img50.jpg"><img src="../../static/images/gallery/codingEvents/main/img50-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img51.jpg"><img src="../../static/images/gallery/codingEvents/main/img51-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img52.jpg"><img src="../../static/images/gallery/codingEvents/main/img51-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img53.jpg"><img src="../../static/images/gallery/codingEvents/main/img53-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img54.jpg"><img src="../../static/images/gallery/codingEvents/main/img54-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img55.jpg"><img src="../../static/images/gallery/codingEvents/main/img55-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img56.jpg"><img src="../../static/images/gallery/codingEvents/main/img56-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img57.jpg"><img src="../../static/images/gallery/codingEvents/main/img57-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img58.jpg"><img src="../../static/images/gallery/codingEvents/main/img58-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img59.jpg"><img src="../../static/images/gallery/codingEvents/main/img59-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img60.jpg"><img src="../../static/images/gallery/codingEvents/main/img60-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img61.jpg"><img src="../../static/images/gallery/codingEvents/main/img61-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img62.jpg"><img src="../../static/images/gallery/codingEvents/main/img62-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img63.jpg"><img src="../../static/images/gallery/codingEvents/main/img63-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img64.jpg"><img src="../../static/images/gallery/codingEvents/main/img64-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img65.jpg"><img src="../../static/images/gallery/codingEvents/main/img65-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img66.jpg"><img src="../../static/images/gallery/codingEvents/main/img66-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img67.jpg"><img src="../../static/images/gallery/codingEvents/main/img67-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img68.jpg"><img src="../../static/images/gallery/codingEvents/main/img68-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img69.jpg"><img src="../../static/images/gallery/codingEvents/main/img69-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img70.jpg"><img src="../../static/images/gallery/codingEvents/main/img70-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img71.jpg"><img src="../../static/images/gallery/codingEvents/main/img71-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img72.jpg"><img src="../../static/images/gallery/codingEvents/main/img72-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img73.jpg"><img src="../../static/images/gallery/codingEvents/main/img73-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img74.jpg"><img src="../../static/images/gallery/codingEvents/main/img74-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img75.jpg"><img src="../../static/images/gallery/codingEvents/main/img75-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img76.jpg"><img src="../../static/images/gallery/codingEvents/main/img76-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img77.jpg"><img src="../../static/images/gallery/codingEvents/main/img77-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img78.jpg"><img src="../../static/images/gallery/codingEvents/main/img78-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img79.jpg"><img src="../../static/images/gallery/codingEvents/main/img79-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img80.jpg"><img src="../../static/images/gallery/codingEvents/main/img80-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img81.jpg"><img src="../../static/images/gallery/codingEvents/main/img81-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img82.jpg"><img src="../../static/images/gallery/codingEvents/main/img82-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img83.jpg"><img src="../../static/images/gallery/codingEvents/main/img83-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img84.jpg"><img src="../../static/images/gallery/codingEvents/main/img84-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img85.jpg"><img src="../../static/images/gallery/codingEvents/main/img85-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img86.jpg"><img src="../../static/images/gallery/codingEvents/main/img86-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img87.jpg"><img src="../../static/images/gallery/codingEvents/main/img87-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img88.jpg"><img src="../../static/images/gallery/codingEvents/main/img88-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img89.jpg"><img src="../../static/images/gallery/codingEvents/main/img89-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img90.jpg"><img src="../../static/images/gallery/codingEvents/main/img90-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img91.jpg"><img src="../../static/images/gallery/codingEvents/main/img91-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img92.jpg"><img src="../../static/images/gallery/codingEvents/main/img92-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img93.jpg"><img src="../../static/images/gallery/codingEvents/main/img93-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img94.jpg"><img src="../../static/images/gallery/codingEvents/main/img94-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img95.jpg"><img src="../../static/images/gallery/codingEvents/main/img95-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img96.jpg"><img src="../../static/images/gallery/codingEvents/main/img96-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img97.jpg"><img src="../../static/images/gallery/codingEvents/main/img97-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img98.jpg"><img src="../../static/images/gallery/codingEvents/main/img98-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img99.jpg"><img src="../../static/images/gallery/codingEvents/main/img99-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img100.jpg"><img src="../../static/images/gallery/codingEvents/main/img100-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img101.jpg"><img src="../../static/images/gallery/codingEvents/main/img101-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img102.jpg"><img src="../../static/images/gallery/codingEvents/main/img102-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img103.jpg"><img src="../../static/images/gallery/codingEvents/main/img103-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img104.jpg"><img src="../../static/images/gallery/codingEvents/main/img104-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img105.jpg"><img src="../../static/images/gallery/codingEvents/main/img105-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img106.jpg"><img src="../../static/images/gallery/codingEvents/main/img106-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img107.jpg"><img src="../../static/images/gallery/codingEvents/main/img107-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img108.jpg"><img src="../../static/images/gallery/codingEvents/main/img108-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img109.jpg"><img src="../../static/images/gallery/codingEvents/main/img109-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img110.jpg"><img src="../../static/images/gallery/codingEvents/main/img110-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img111.jpg"><img src="../../static/images/gallery/codingEvents/main/img111-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img112.jpg"><img src="../../static/images/gallery/codingEvents/main/img112-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img113.jpg"><img src="../../static/images/gallery/codingEvents/main/img113-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img114.jpg"><img src="../../static/images/gallery/codingEvents/main/img114-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img115.jpg"><img src="../../static/images/gallery/codingEvents/main/img115-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img116.jpg"><img src="../../static/images/gallery/codingEvents/main/img116-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img117.jpg"><img src="../../static/images/gallery/codingEvents/main/img117-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img118.jpg"><img src="../../static/images/gallery/codingEvents/main/img118-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img119.jpg"><img src="../../static/images/gallery/codingEvents/main/img119-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img120.jpg"><img src="../../static/images/gallery/codingEvents/main/img120-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img121.jpg"><img src="../../static/images/gallery/codingEvents/main/img121-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img122.jpg"><img src="../../static/images/gallery/codingEvents/main/img122-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img123.jpg"><img src="../../static/images/gallery/codingEvents/main/img123-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img124.jpg"><img src="../../static/images/gallery/codingEvents/main/img124-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img125.jpg"><img src="../../static/images/gallery/codingEvents/main/img125-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img126.jpg"><img src="../../static/images/gallery/codingEvents/main/img126-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img127.jpg"><img src="../../static/images/gallery/codingEvents/main/img127-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img128.jpg"><img src="../../static/images/gallery/codingEvents/main/img128-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img129.jpg"><img src="../../static/images/gallery/codingEvents/main/img129-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img130.jpg"><img src="../../static/images/gallery/codingEvents/main/img130-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img131.jpg"><img src="../../static/images/gallery/codingEvents/main/img131-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img132.jpg"><img src="../../static/images/gallery/codingEvents/main/img132-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img133.jpg"><img src="../../static/images/gallery/codingEvents/main/img133-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img134.jpg"><img src="../../static/images/gallery/codingEvents/main/img134-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img135.jpg"><img src="../../static/images/gallery/codingEvents/main/img135-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img136.jpg"><img src="../../static/images/gallery/codingEvents/main/img136-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img137.jpg"><img src="../../static/images/gallery/codingEvents/main/img137-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img138.jpg"><img src="../../static/images/gallery/codingEvents/main/img138-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img139.jpg"><img src="../../static/images/gallery/codingEvents/main/img139-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img140.jpg"><img src="../../static/images/gallery/codingEvents/main/img140-big.jpg"></a>
        <a href="../../static/images/gallery/codingEvents/main/img141.jpg"><img src="../../static/images/gallery/codingEvents/main/img141-big.jpg"></a>
    </div>

</section>





{% endblock %}
