{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Meadowlands Library</h1>
            <p class="lead">219 Masilela Street <br /> Meadowlands</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../static/images/profilePicture/region_d_profiles/meadowlandsLibrary/img1.jpg" />

                    
                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">09:00_16:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Meadowlands Library</h3>
                    <p>
                        Meadowlands Library has a collection of programmes aimed at early Childhood development (storytelling and educational games), Youth empowerment, promoting reading and writing to the local  communities of Meadowlands.
                        Most of our library patrons are between the ages of 5-35.  It is situated inside Meadowlands shopping centre and so patrons get the chance to enjoy the library and do shopping after.
                        Our library mostly caters for people from Meadowlands, Dobsinville, Orlando and White City. The library has a specialised proudly African Display Corner that is aimed at promoting Pan-Africanism.
                        The objective here is to teach people about the effects of xenophobia and to treat other Africans better.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Johannesburg Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">219 Masilela Street, Meadowlands</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquiries@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">(011) 936 5799</span></li>
                            <li><span class="pro-title"> Head </span> <span class="pro-detail">Martin Phoko</span></li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/meadowlandsLibrary/img2.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/meadowlandsLibrary/img3.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/meadowlandsLibrary/img4.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Meadowlands Library location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.3524096419733!2d27.89717306503039!3d-26.217736533431907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a0b7fd1e9bcf%3A0x40c53bb4ed3365cf!2sMeadowlands%20Library!5e0!3m2!1sen!2sza!4v1621342202714!5m2!1sen!2sza"></object>
        
                
                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
