{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Noordgesig Library</h1>
            <p class="lead">Noorgesig Main Square <br /> Corner North and Central Road <br /> Noordgesig</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../static/images/profilePicture/region_d_profiles/noordgesigLibrary/img1.jpg" />

                    
                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Noordgesig Library</h3>
                    <p>
                        Noordgesig Library is the heart and soul of the community. There are more formal opportunities too,
                        such as joining a friend of the library group or becoming a library trustee.Our library in addition to
                        connecting people to information we connect people to people.The Library collection is arranged according to sections.
                        We have Adult, Junior and Children sections. Each section has its core material. The children section consists of children's books
                        categorised as pictures toddlers, read ouloud, life expirinces, begginers and easy facts. Adult section consisting of other reference, non-fiction and fiction
                        for South Africans and African writers. Junior section collection consists of junior reference, junior non-fiction, junior fiction, young adult fiction and non-fiction.
                        The library has 12 e-World computers which is the public access to intenet and free Wi-Fi.
                        We have tape machines and books on tapes for the blind public of Noordgesig. Members who are unable to go to Noordgesig, the branch librarian make means for them to get it.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Johannesburg Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">Corner North and Central Road, Noordgesig</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquirires@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail"></span>(011) 935 1051</li>
                            <li><span class="pro-title"> Head </span> <span class="pro-detail"></span>Gabriel</li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/noordgesigLibrary/img2.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/noordgesigLibrary/img3.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/noordgesigLibrary/img4.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Noordgesig Library location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.0243455084396!2d27.935457415030516!3d-26.22839848342698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9509f08e0d02d3%3A0x356a916ae2147ce7!2sNoordgesig%20Library!5e0!3m2!1sen!2sza!4v1621342070397!5m2!1sen!2sza"></object>

           

                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
