{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Orlando East Library</h1>
            <p class="lead">6544 Mooki Street <br /> Orlando East</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../static/images/profilePicture/region_d_profiles/orlandoEastLibrary/img1.jpg" alt="" />

                   

                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Orlando East Library</h3>
                    <p>

                        Orlando East Library is staffed by a Senior Librarian, one Library Assistant, a General Worker and a part-time Librarian from Gauteng province.
                        The collection at Orlando East Library consists of adult, reference and junior fiction and non-fiction books. The library has PAIL (Public Access to Internet in Libraries)
                        to the community of Orlando free of charge. The library has PHC (Political Heritage Corner) next to the entrance whereby we profiled all hounarable and politicians around Orlando East.
                        There is also an activity room which is named after one of the Orlando East stalwart and a first qualified African Electrical Engineer in South Africa Mr. W.M Tshaziba. The
                        activity room is available for Library programmes and is also available for community members for renting. Wi-Fi is available free of charge in the Library. We have COJ smart
                        Wi-Fi which is provided  by Telkom. Joburg free Wi-Fi provide users with 300MB per day while COJ smart Wi-Fi is unlimited. The library hosts holiday programmes during school holidays.
                        We do various activities e.g story telling, facing painting, indigenious games and many more. The programmes are always well attended and enjoyed by the childred and their parents.
                        The library has adopted various schools and children's homes around Orlando East which we work with during Library programmes. Staff and volunteers visit the school on weekly basis to
                        to read to the children.

                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Johannesburg Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">6544 Mooki Street, Orlando East</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquiries@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">(011) 935 1040</span></li>
                            <li><span class="pro-title"> Head </span> <span class="pro-detail">Lydia Nkomo</span></li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/orlandoEastLibrary/img2.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/orlandoEastLibrary/img3.jpg" alt="" />

                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_d_profiles/orlandoEastLibrary/img4.jpg" alt="" />

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Orlando East Library location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.705099494158!2d27.91817331503071!3d-26.238769983422397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a75973a78e51%3A0x98c796a0f9e13786!2sOrlando%20East%20Library!5e0!3m2!1sen!2sza!4v1621342003042!5m2!1sen!2sza"></object>
               
                

                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
