<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - LIS</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="static/assets/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="static/assets/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/responsive.css">
    <!-- Other style sheet -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/other.css">
    <!-- lightbox for gallery stuff-->
    <link rel="stylesheet" type="text/css" href="../static/assets/lightboxStuff/dist/css/lightbox.min.css">
    <!-- lightbox for gallery stuff-->
    <script src="../static/assets/lightboxStuff/dist/js/lightbox-plus-jquery.min.js"></script>



</head>

<body>
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/cojLogoResizedTo25.jpg" alt="">
                       

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('gallery') }}">
                                Gallery
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('librariesHome') }}">
                                Libraries
                            </a>
                        </li>



                    </ul>

                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="onepage-nev mobile-menu">
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                </li>

                <li>
                    <a href="{{ url_for('gallery') }}">Gallery</a>
                </li>
                <li>
                    <a href="{{ url_for('librariesHome') }}">Libraries</a>
                </li>

                <li>
                    <a href="#allEvents">All Events</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
        <!-- Navbar End -->
        
    
    
    
    
        <!--S
                        <div id="hero-area" class="hero-area-bg">
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <div class="contents">

                                            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Library And Information Services</h2>
                                            <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Live, Learn, Improve Your Knowledge And Skills...All At Your Own Pace</p>
                                            <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                                                <li>
                                                    <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                                                </li>
                                                <li>
                                                    <a class="linkedin" href="#"><i class="icon-social-linkedin"></i></a>
                                                </li>
                                                <li>
                                                    <a class="google" href="#"><i class="icon-social-google"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        -->
     



    </header>

    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">LIS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="{{ url_for('libraries') }}">Libraries</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
    {% block content %}{% endblock %}
    <hr />
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/JoburgLibraries/"><i class="icon-social-facebook"></i></a>
                            </li>
                            <!--
    <li>
        <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
    </li>

    <li>
        <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
    </li>

    <li>
    <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
    </li>
    -->
                            <li>
                                <a class="instagram" href="https://www.joburg.org.za/"><i class="icon-social-google"></i></a>
                            </li>
                        </ul>
                        <p>Copyright © Library and Information Services</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/assets/js/jquery-min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/jquery.mixitup.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/wow.js"></script>
    <script src="static/assets/js/jquery.nav.js"></script>
    <script src="static/assets/js/jquery.easing.min.js"></script>
    <script src="static/assets/js/nivo-lightbox.js"></script>
    <script src="static/assets/js/jquery.slicknav.js"></script>
    <script src="static/assets/js/main.js"></script>
    <script src="static/assets/js/form-validator.min.js"></script>
    <script src="static/assets/js/contact-form-script.min.js"></script>
    <script src="static/assets/js/map.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
