  {% extends "layout.html" %}

{% block content %}
<div class="tcontainer">
    <div class="ticker-wrap">
        <div class="ticker-move">
            <div class="ticker-item"><h4>Management: Good luck to all students that are going to be writing exams. An educated nation is a healthy nation     ||</h4></div>
            <div class="ticker-item"><h4>Library week is on the 20th of November     ||</h4></div>
            <div class="ticker-item"><h4>Please Note: The new Library in Kivukiland will be open as of the 15th of May 2021    ||</h4></div>
            <div class="ticker-item"><h4>Management will be doing a community outreach project on the 12th of June    ||</h4></div>
        </div>
    </div>
</div>


<section id="about" class="section-padding">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../static/images/JCL2.jpg">

                    <img class="img-fluid" src="../static/assets/img/final library pic.JPG">


                   
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Welcome</h3>
                    <p>
                        Johannesburgs public libraries are hubs of education, giving residents access to books, magazines and audio-visual material. Besides lending out material, the City's libraries offer a wide range of services including literacy classes, storytelling, sessions for youngsters, classroom support, gatherings for older residents and literary competitions.
                        They are also the venues for lectures, exhibitions and talks. Libraries can be found accross the City's seven regions, and mobile satelite centres also travel to far-flung areas.<br> <br>
                        All residents are welcome to join their local library. You need to present your identity book, with proof of residence. Children will also need to show their birth certificates. Cards will be issued by the library. Those applying for the first time will have to wait 5 working days for their documents to be processed, membership is free
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Library And Information Services</span></li>
                            <li><span class="pro-title"> Headquarters </span> <span class="pro-detail">22 Solomon Street, Vrededorp</span></li>
                            <li><span class="pro-title"> Libraries </span> <span class="pro-detail">86 Libraries </span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">sbzik12@gmail.com</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (00) 123 456 789</span></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class=" jumbotron text-center" >
            <h1>About Us</h1>
            <p class="lead">Learn Online, Learn Electronically, Learn New Skills, Improve Your KNowledge, Learn At Your Own Pace.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Core Business</h2>
                <ul>
                    <li>- Collection, Development and management (including bibliographic management) </li>
                    <li>- Provision of safe and free library facilities for reading and learning.</li>
                    <li>- Provision of free and guided access to knowledge and information (including online access to the library and other information resources).</li>
                    <li>- Development, promotion and maintainence of a reading culture through the delivery of programs.</li>
                    <li>- Desired outcomes include the provision literacy and numeracy.</li>
                    <li>- Early Childhood Development.</li>
                    <li>- We strive to provide educational support services, such as science and technology awareness projects and campaigns in order to empower the youth for the purposes of development</li>
                    <li>- Provide library services in disadvantaged areas in order to promote a world class African city.</li>
                    <li>- There is an open door policy to all members of the community who wish to live, learn and advance.</li>
                </ul>
                <p><a class="btn btn-default" href="{{ url_for('infoPage') }}">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2 class="text-center">Facebook</h2>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJoburgLibraries&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

            <div class="col-md-4">
                <h2 class="text-center">Membership</h2>
                <p>
                    All residents are welcome to join their local library. You need to present your identity book along with your proof of residence. Children who wish to join have to present their birth certificates.
                    Upon being accepted, the library will issue the user with a library card. The general waiting period for a member to be processed is five working days. If you wish to take morethan five books at a time
                    a membership fee of R30 will apply. Find out more by contacting or visiting your local library
                </p>
                <h5 class="text-center">Conditions of use</h5>
                <p>
                    The owner of the card is responsible for all the material that awre issued on the card. The card expires after 3 years. If you still have the card it is for free to renew your membership. If you lose your card a fine must be paid. You will be held liable for any lost books and you will be charged the full price of the said book.
                    You are liable for the upkeep of books that you have borrowed and the return of these books on time. No material can be borrowed until the fine is settled. Treat the library building, corner collections as well as other library users with the upmost respect.
                </p>
                <p><a class="btn btn-default" href="{{ url_for('infoPage') }}">Learn more &raquo;</a></p>
            </div>

        </div>

    </div>
</section>



<section id="portfolios" class="section-padding">
    <!-- Container Starts -->
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Our work</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Controller/Buttons -->
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Coding Events
                    </a>
                    <a class="filter btn btn-common" data-filter=".development">
                        Staff Training
                    </a>
                    <a class="filter btn btn-common" data-filter=".print">
                        Digital Skills
                    </a>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">

                        <div class="shot-item">

                            <img src="../static/images/photos/Science Scuffle 2019/Processed Thumbnails/img33.jpg" alt="" />

                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Science Scuffle 2019/Big pic/img3.jpg">

                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/photos/Battle of the Books 2018/Processed Thumbnails/img22.jpg" alt="" />


                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Battle of the Books 2018/Big pic/img2.jpg">



                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/photos/Story Skirmish 2018/Processed Thumbnails/img66.jpg" alt="" />
                          


                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Story Skirmish 2018/Big pic/img6.jpg">


                                        

                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            

                            <img src="../static/images/photos/Battle of the Books 2018/Processed Thumbnails/img22.jpg"  alt=""/>

                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Battle of the Books 2018/Big pic/img2.jpg">
                                       

                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../static/images/photos/Science Scuffle 2019/Processed Thumbnails/img33.jpg" alt="" />

                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Science Scuffle 2019/Big pic/img3.jpg">

                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
                    <div class="portfolio-item">
                        

                        <div class="shot-item">

                            <img src="../static/images/photos/Battle of the Books 2018/Processed Thumbnails/img22.jpg" alt="" />


                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="../static/images/photos/Battle of the Books 2018/Big pic/img2.jpg">



                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="{{ url_for('gallery') }}">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>




<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Free Digital Content</h2>
    <div class="container">
        <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <img src="../static/images/learningLogo2_5.jpg" />
           
                      

                    </div>

                    <div class="services-content">
                        <h3><a href="#">Free E-Resources</a></h3>
                        <p>E-Books, Journal Articles, Audio Books </p>
                        <p><a href="https://www.overdrive.com/">Overdrive E-Books</a></p>
                        <p><a href="https://www.gutenberg.org/">Gutenburg E-Books</a></p>
                        <p><a href="https://librivox.org/">Librivox Audiobooks</a></p>
                        <p><a href="https://www.ajol.info/index.php/ajol">African Journals Online</a></p>
                        <p><a href="http://www.jurn.org/#gsc.tab=0">Jurn Journal Articles</a></p>


                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <img src="../static/images/microsoft.ico" />
                    </div>
                    <div class="services-content">
                        <h3><a href="https://thintimillion.co.za">Learn with Harambee</a></h3>
                        <p>City of Johannesburg is in collaboration with Microsoft and Harambee through a project called 
                        ThintiMillion aimed at providing Digital Skills to the youth in order to increase their chances of finding employment.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon">
                        <img src="../static/images/IBM.ico" />
                    </div>
                    <div class="services-content">
                        <h3><a href="https://developer.ibm.com/digitalnation/africa/">Learn With IBM</a></h3>
                        <p>IBM, in colaboration with City of Johannesburg Library and Information 
                        Services, offers a wide range of free online courses designed to provide digital skills development and empower the youth.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <img src="../static/images/googleIcon.ico" />
                    </div>
                    <div class="services-content">
                        <h3><a href="https://learndigital.withgoogle.com/digitalgarage">Learn With Google</a></h3>
                        <p>Google (SA), In colaboration with City of Johannesburg Library and Information Services, 
                        offers free online courses to equip South Africans with digital skills to develop and nurture the youth in the information arena</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="contact-block">
                        <h2>Contact Form</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button">
                                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>22 Solomon Street, Vrededorp</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:enquieries@cojelearning.org.za">enquiries@cojelearning.org.za</a></p>
                                
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <p><a href="#">+ (27) 123 456 789</a></p>
                                <p><a href="#">+ (27) 123 344 789</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.00211517292!2d28.01908761557505!3d-26.196609470027926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c0721dc255b%3A0x830730c72ddff52!2s22%20Solomon%20St%2C%20Johannesburg%2C%202000!5e0!3m2!1sen!2sza!4v1619616693249!5m2!1sen!2sza"></object>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{% endblock %}