{% extends "individualLibrariesLayout.html" %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="head-title wow fadeInUp" data-wow-delay="0.3s">Southdale Library</h1>
            <p class="lead">184 Landsborough Road <br /> Southdale shopping centre<br /> Southdale</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../static/images/profilePicture/region_f_pictures/southdaleLibrary/img1.jpg" alt="" />
                    
                </div>

                <div class="about-profile wow fadeInLeft" data-wow-delay="0.3s">
                    <h5>Operating Hours</h5>
                    <ul class="admin-profile">
                        <li><span class="pro-title">Mon-Thurs</span><span class="pro-detail">09:00-16:00</span></li>
                        <li><span class="pro-title">Fridays</span><span class="pro-detail">09::00-16:00</span></li>
                        <li><span class="pro-title">Weekends</span><span class="pro-detail">Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Southdale Library</h3>
                    <p>
                        Southdale Library is inside Southdale shopping centre it is a very busy library servicing largely the Muslim community.
                        Southdale library is committed to promote literature by making sure that everyone has equal access to library materials
                        and services. The suburbs reached by the library are Southdale, Robertsham, Turffontein, Booysens, Ormonde,
                        Crown Gardens, Chrisville and Bellavista. The library holds special programmes four times a year during school holidays
                        children are encouraged to attend. We have Science Scuffle, Battle of the Books, Story Skirmish, Storytimes, visits from
                        the Zoo, SPCA, fire department and a police detective teaching children about safety.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Department </span> <span class="pro-detail">Johannesburg Library And Information Services</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">184 Landsborough Road, Southdale</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">enquiries@cojelearning.org.za</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">(011) 680 2110</span></li>
                            <li><span class="pro-title"> Head </span> <span class="pro-detail">Tsakani Maluleke</span></li>
                        </ul>
                    </div>
                    <a href="mailto:enquiries@cojelearning.org.za" class="btn btn-danger"><i class="icon-speech"></i> Contact Us</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio-item" class="section-padding">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_f_pictures/southdaleLibrary/img2.jpg" alt="" />


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_f_pictures/southdaleLibrary/img3.jpg" alt="" />


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">

                            <img src="../../static/images/profilePicture/region_f_pictures/southdaleLibrary/img4.jpg" alt="" />



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <h3 style="text-align:center">Southdale Library location</h3>
                    <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.5860147512763!2d28.019431014531698!3d-26.242637771909173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950ed37414e6e1%3A0x1c35552f035d6ad1!2sSouthdale%20Library!5e0!3m2!1sen!2sza!4v1620039834575!5m2!1sen!2sza"></object>

                </div>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
